.StyleButtons {
	margin-top: 0.7rem;
	width: 12rem;
	box-shadow: 2px 2px 4px #000000;
}

.btn-primary{
	background-color: #002060;
	font-weight: bold;
	color: #fcc000;
	border-color: #fcc000;
}

a:not([href]):not([tabindex]){
	color: #fcc000;
}

.btn-primary:hover{
	background-color: rgb(11, 136, 253);
	transition: 0.2s;
}
  
.btn:focus {
	box-shadow: 2px 2px 4px #000000;
  }




.overlay {
	height: 0px;
	margin-top:-5px;
	z-index: 1;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
	border-radius: 10px;
}
  
.overlay-content {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

#button_menu{
	font-size:30px;
	cursor:pointer; 
	padding: 10px;
	background-color: rgba(0,0,0, 0.9);
	border-radius: 7px;
	color: white;
}

#nav_content{
	  float: left;
}
  
@media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
}